@import "../common.less";

.result-list {
  border-collapse: collapse;
  width: 100%;
  line-height: 125%;
  font-size: 12px;

  th {
    .section-heading-font(@font-color);
    font-weight: normal;
    padding-bottom: 8px;
    line-height: 20px;

    .result-list-status {
      text-transform: none;
      color: @font-color-light;
    }
  }
  tbody {
    td {
      padding: 10px;
      vertical-align: top;

      &:first-child {
        padding-right: 10px;
      }

      &:last-child {
        vertical-align: top;
        text-transform: uppercase;
        padding-right: 10px;
      }
      .update-vastaanottotieto {
        text-transform: none;
        font-weight: 100;
        div {
          padding-top: 4px;
          padding-bottom: 4px;
          .confirm-update-vastaanottotieto {
            padding: 1em;
            i {
              font-size: 0.9em;
              padding-left: 1em;
            }
          }
        }
        button {
          background: #159ECB;
          border-radius: 2px;
          height: 35px;
          font-family: 'Helvetica Neue', helvetica, arial, sans-serif;;
          font-size: 15px;
          color: #FFFFFF;
        }
        button:hover {
          background: #00B5EF;
        }
        button:disabled {
          background: #CCCCCC;
        }
      }
      margin-bottom: 1px;
    }
    .vastaanottotieto {
      width: 40%;
    }
    tr + tr {
      border-top: 3px solid white;
    }
    tr.accepted {
      font-weight: bold;
    }
    tr:nth-of-type(even) {
      background: #EBF8FB;
    }
    tr:nth-of-type(odd) {
      background: #F7F7F7;
    }
  }
}

.result-status {
  font-style: italic;
}