.hakemuseditori .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.hakemuseditori .dropdown-menu > .active > a,
.hakemuseditori .dropdown-menu > .active > a:hover,
.hakemuseditori .dropdown-menu > .active > a:focus {
  text-decoration: none;
  outline: 0;
  background-color: #fedc7d;
}
.hakemuseditori .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.hakemuseditori * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hakemuseditori ul {
  list-style-type: none;
}
.hakemuseditori .delimiter {
  color: #cccccc;
}
.hakemuseditori .callout {
  width: 200px;
  position: absolute;
  top: 0;
  line-height: normal;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 20px;
  letter-spacing: normal;
  background-color: #feedbd;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 30px 0px 0px 0px;
  border: 1px solid #ccc;
  text-transform: none;
  z-index: 10;
  display: none;
}
.hakemuseditori .callout .callout-close:before {
  content: '\00D7';
  float: right;
  margin-left: 5px;
  margin-top: -5px;
  cursor: pointer;
}
.hakemuseditori .callout::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0.8em solid transparent;
  position: absolute;
  left: 40%;
  top: -20px;
  border-bottom: 10px solid #ccc;
}
.hakemuseditori .callout::after {
  content: "";
  width: 0px;
  height: 0px;
  border: 0.8em solid transparent;
  position: absolute;
  left: 40%;
  top: -19px;
  border-bottom: 10px solid #feedbd;
}
.hakemuseditori .clearable-input {
  position: relative;
  display: inline-block;
}
.hakemuseditori .clearable-input input[type=text] {
  padding-right: 17px;
}
.hakemuseditori .clearable-input .clear-btn {
  position: absolute;
  right: 5px;
}
.hakemuseditori .clearable-input .clear-btn:before {
  content: "\00D7";
  color: #777777;
  line-height: 26px;
  cursor: pointer;
}
.hakemuseditori .application {
  border: 1px solid #bce7f3;
}
.hakemuseditori .application + .application {
  margin-top: 50px;
}
.hakemuseditori .application section {
  margin: 0px 20px;
}
.hakemuseditori section.application-header {
  background: #ebf8fb;
  padding: 17px 20px;
  margin: 0;
}
.hakemuseditori section.application-header a,
.hakemuseditori section.application-header a:visited {
  color: #0093ba;
}
.hakemuseditori section.application-header a.disabled {
  color: #999999;
}
.hakemuseditori .timestamp-row {
  margin-top: 10px;
  transition: background-color 1000ms;
  display: inline-block;
  position: relative;
}
.hakemuseditori .timestamp-row.saved {
  background-color: #e5f5e7;
}
.hakemuseditori .timestamp-row .timestamp {
  color: #999999;
  margin-left: 10px;
}
.hakemuseditori .timestamp-row a.tuloskirje:link {
  font-weight: bold;
}
.hakemuseditori .timestamp-row a.tuloskirje:visited {
  font-weight: normal;
}
.hakemuseditori section.application-status {
  font-style: italic;
}
.hakemuseditori section.application-status .application-status-item {
  margin-top: 20px;
  margin-bottom: 20px;
}
.hakemuseditori .application-section {
  margin-top: 0px;
}
.hakemuseditori section.hakutoiveet + section {
  border-top: none;
}
.hakemuseditori section.application-status {
  border-top: none;
}
.hakemuseditori section.application-valintatulos {
  margin-top: 20px;
  margin-bottom: 20px;
}
.hakemuseditori section.hakutoiveen-vastaanotto,
.hakemuseditori section.ilmoittautuminen {
  border-bottom: 1px solid #d2d2d2;
  border-top: none;
}
.hakemuseditori .application-section-heading {
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
  margin: 20px 0;
  padding-bottom: 0;
  line-height: 33px;
  position: relative;
  overflow: hidden;
}
.hakemuseditori .application-section-heading .status-message {
  color: #0093ba;
  max-width: 400px;
  height: auto;
  position: relative;
  float: right;
  line-height: 33px;
  font-weight: normal;
}
.hakemuseditori .application-section-heading .save-btn {
  color: #ffffff;
  background-color: #0093ba;
  float: right;
  margin-left: 20px;
  line-height: 25px;
}
.hakemuseditori .application-section-heading .save-btn[disabled] {
  color: #d2d2d2;
  background: #ededed;
}
.hakemuseditori .application-section-heading .ajax-spinner:after {
  margin: 0;
  position: absolute;
  right: 0;
}
.hakemuseditori header.application-section-heading {
  font-size: 16px;
  font-weight: bold;
  text-transform: none;
}
.hakemuseditori .preference-list {
  position: relative;
}
.hakemuseditori .preference-list .overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/hakemuseditori/ajax-loader.gif) rgba(255, 255, 255, 0.5) no-repeat center center;
  z-index: 1;
}
.hakemuseditori .preference-list.validating .overlay {
  display: block;
}
.hakemuseditori .preference-list-item {
  max-height: 200px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2px;
}
.hakemuseditori .preference-list-item .preference-list-item-layout {
  display: table;
  width: 100%;
}
.hakemuseditori .preference-list-item .preference-list-item-layout .item-content {
  display: table-cell;
  vertical-align: middle;
  background: #f5f5f5;
}
.hakemuseditori .preference-list-item .item-content:first-child {
  font-size: 42px;
  width: 85px;
  text-align: center;
  background: #ebebeb;
  color: #525252;
  position: relative;
}
.hakemuseditori .preference-list-item .sort-arrow-container {
  height: 44px;
  display: block;
  position: relative;
  left: -10px;
}
.hakemuseditori .preference-list-item .sort-arrow-down {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  background: url("../img/hakemuseditori/sort-arrow-down.png") center center no-repeat #0093ba;
  background-size: 7px 8px;
  bottom: 0;
}
.hakemuseditori .preference-list-item .sort-arrow-down[disabled] {
  background-image: url("../img/hakemuseditori/sort-arrow-down-disabled.png");
  background-color: #e0e0e0;
}
.hakemuseditori .preference-list-item .sort-arrow-down[disabled]:hover {
  background-color: #e0e0e0;
  cursor: default;
}
.hakemuseditori .preference-list-item .sort-arrow-down:hover {
  background-color: #00a7d3;
}
.hakemuseditori .preference-list-item .sort-arrow-up {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  background: url("../img/hakemuseditori/sort-arrow-up.png") center center no-repeat #0093ba;
  background-size: 7px 8px;
  top: 0;
}
.hakemuseditori .preference-list-item .sort-arrow-up[disabled] {
  background-image: url("../img/hakemuseditori/sort-arrow-up-disabled.png");
  background-color: #e0e0e0;
}
.hakemuseditori .preference-list-item .sort-arrow-up[disabled]:hover {
  background-color: #e0e0e0;
  cursor: default;
}
.hakemuseditori .preference-list-item .sort-arrow-up:hover {
  background-color: #00a7d3;
}
.hakemuseditori .preference-list-item .item-content:nth-child(3) {
  padding: 15px 0px 15px 33px;
}
.hakemuseditori .preference-list-item .item-content:nth-child(3) .row + .row {
  margin-top: 8px;
}
.hakemuseditori .preference-list-item .item-content:nth-child(3) .label-column {
  width: 25%;
  display: inline-block;
  font-weight: bold;
}
.hakemuseditori .preference-list-item .item-content:nth-child(3) .value-column {
  display: inline-block;
  vertical-align: top;
  width: 74%;
}
.hakemuseditori .preference-list-item .item-content:nth-child(3) input,
.hakemuseditori .preference-list-item .item-content:nth-child(3) select {
  width: 100%;
}
.hakemuseditori .preference-list-item .item-content:nth-child(3) .opetuspiste label {
  font-family: 'Helvetic Neue', helvetica, arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
}
.hakemuseditori .preference-list-item .item-content:nth-child(3) .hakuaika {
  text-transform: uppercase;
  color: #999;
  font-size: 11px;
}
.hakemuseditori .preference-list-item label > span.label {
  width: 20%;
  display: inline-block;
  font-weight: bold;
}
.hakemuseditori .preference-list-item .item-content:last-child {
  width: 15%;
  text-align: right;
  padding-right: 15px;
  padding-left: 20px;
}
.hakemuseditori .preference-list-item .item-content:last-child .application-preference-locked {
  display: inline-block;
  text-transform: uppercase;
  white-space: nowrap;
  color: #999;
  font-size: 11px;
}
.hakemuseditori .preference-list-item .item-content:last-child .application-preference-locked:after {
  content: "";
  background: url("../img/hakemuseditori/lock.png") center center no-repeat;
  background-size: 15px 20px;
  width: 15px;
  height: 20px;
  display: inline-block;
  vertical-align: -15%;
  margin-left: 10px;
}
.hakemuseditori .preference-list-item.inactive button,
.hakemuseditori .preference-list-item.inactive .item-content div {
  display: none;
}
.hakemuseditori .preference-list-item.inactive .row-number {
  font-size: 18px;
  display: block;
}
.hakemuseditori .preference-list-item .item-content {
  transition: background-color 1000ms;
}
.hakemuseditori .preference-list-item.saved .item-content {
  background: #e5f5e7;
}
.hakemuseditori .preference-list-item.ng-leave {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  max-height: 120px;
  overflow: hidden;
}
.hakemuseditori .preference-list-item.ng-leave-active {
  max-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.hakemuseditori .preference-list-item.ng-enter {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  max-height: 0px;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;
}
.hakemuseditori .preference-list-item.ng-enter-active {
  max-height: 120px;
}
.hakemuseditori .result-list {
  border-collapse: collapse;
  width: 100%;
  line-height: 125%;
  font-size: 12px;
}
.hakemuseditori .result-list th {
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 8px;
  line-height: 20px;
}
.hakemuseditori .result-list th .result-list-status {
  text-transform: none;
  color: #777777;
}
.hakemuseditori .result-list tbody td {
  padding: 10px;
  vertical-align: top;
  margin-bottom: 1px;
}
.hakemuseditori .result-list tbody td:first-child {
  padding-right: 10px;
}
.hakemuseditori .result-list tbody td:last-child {
  vertical-align: top;
  text-transform: uppercase;
  padding-right: 10px;
}
.hakemuseditori .result-list tbody td .update-vastaanottotieto {
  text-transform: none;
}
.hakemuseditori .result-list tbody td .update-vastaanottotieto div {
  padding-top: 4px;
  padding-bottom: 4px;
}
.hakemuseditori .result-list tbody td .update-vastaanottotieto div .confirm-update-vastaanottotieto {
  padding: 1em;
}
.hakemuseditori .result-list tbody td .update-vastaanottotieto div .confirm-update-vastaanottotieto i {
  font-size: 0.9em;
  padding-left: 1em;
}
.hakemuseditori .result-list tbody td .update-vastaanottotieto button {
  background: #159ECB;
  border-radius: 2px;
  height: 35px;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 15px;
  color: #FFFFFF;
}
.hakemuseditori .result-list tbody td .update-vastaanottotieto button:hover {
  background: #00B5EF;
}
.hakemuseditori .result-list tbody td .update-vastaanottotieto button:disabled {
  background: #CCCCCC;
}
.hakemuseditori .result-list tbody .vastaanottotieto {
  width: 40%;
}
.hakemuseditori .result-list tbody tr + tr {
  border-top: 3px solid white;
}
.hakemuseditori .result-list tbody tr.accepted {
  font-weight: bold;
}
.hakemuseditori .result-list tbody tr:nth-of-type(even) {
  background: #EBF8FB;
}
.hakemuseditori .result-list tbody tr:nth-of-type(odd) {
  background: #F7F7F7;
}
.hakemuseditori .result-status {
  font-style: italic;
}
.hakemuseditori .yhteystiedot {
  margin-top: 10px;
  margin-bottom: 15px;
}
.hakemuseditori .yhteystiedot input {
  transition: background-color 1000ms;
}
.hakemuseditori .yhteystiedot .clearable-input {
  margin-right: 5px;
}
.hakemuseditori .yhteystiedot label {
  display: block;
  margin-bottom: 10px;
}
.hakemuseditori .yhteystiedot .label-column {
  font-weight: bold;
  display: inline-block;
  width: 200px;
  vertical-align: top;
  line-height: 24px;
}
.hakemuseditori .yhteystiedot .value-column {
  display: inline-block;
}
.hakemuseditori .yhteystiedot .value-column input {
  width: 100%;
}
.hakemuseditori .yhteystiedot .value-column .clearable-input {
  width: 240px;
}
.hakemuseditori .yhteystiedot .value-column.postalCode .clearable-input {
  width: 75px;
}
.hakemuseditori .hakutoiveenVastaanotto {
  border: 1px solid #D8D8D8;
  padding: 3em 7em 2em 7em;
  margin: 1.7em 0;
}
.hakemuseditori .hakutoiveenVastaanotto .status-message.success {
  color: green;
}
.hakemuseditori .hakutoiveenVastaanotto .vastaanota-btn:not([disabled]) {
  background: #539bb4;
  color: white;
}
.hakemuseditori .hakutoiveenVastaanotto .vastaanota-btn:not([disabled]):hover {
  background: #418095;
}
.hakemuseditori .hakutoiveenVastaanotto label.email {
  display: block;
  margin: 10px 0 16px 0;
}
.hakemuseditori .hakutoiveenVastaanotto label.email span.label {
  display: block;
}
.hakemuseditori .hakutoiveenVastaanotto label.email input[type="email"] {
  width: 20em;
}
.hakemuseditori .hakutoiveenVastaanotto .hakutoive-vastaanotettavissa {
  color: #539bb4;
  margin-top: 8px;
}
.hakemuseditori .hakutoiveenVastaanotto .hakutoive-vain-yksi-valittavissa {
  color: #539bb4;
  line-height: 15px;
  margin-top: 4px;
}
.hakemuseditori .hakutoiveenVastaanotto .hakutoive-vain-yksi-valittavissa .vain-yksi {
  font-weight: bold;
}
.hakemuseditori .hakutoiveenVastaanotto .hakutoive-siirtohaku {
  color: #539bb4;
  margin-top: 4px;
  opacity: 1;
}
.hakemuseditori .hakutoiveenVastaanotto .siirtohaku-fade-out {
  opacity: 0;
}
.hakemuseditori .hakutoiveenVastaanotto .siirtohaku-fade-in {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-duration: 0.7s;
  transition-duration: 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 3, 0.2, -2);
  transition-timing-function: cubic-bezier(0.7, 3, 0.2, -2);
  opacity: 1;
}
.hakemuseditori .hakutoiveenVastaanotto ul.info {
  margin-left: 24px;
  line-height: 19px;
  color: #4a4a4a;
}
.hakemuseditori .hakutoiveenVastaanotto ul.info li:before {
  content: "•";
  vertical-align: middle;
  font-size: 20px;
  margin-right: 3px;
}
.hakemuseditori .hakutoiveenVastaanotto .hakutoive-options {
  margin: 10px 0;
}
.hakemuseditori .hakutoiveenVastaanotto .hakutoive-options input {
  margin: 5px 10px 5px 0px;
  vertical-align: bottom;
}
.hakemuseditori .hakutoiveenVastaanotto .status-message {
  margin-left: 5px;
}
.hakemuseditori .hakutoiveenVastaanotto .hakutoiveenVastaanotto-caption {
  font-family: 'PT Sans Narrow', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 18px;
  text-transform: none;
  font-weight: normal;
}
.hakemuseditori .hakutoiveenVastaanotto .hakutoiveenVastaanotto-caption strong {
  font-family: 'PT Sans Narrow', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 10px;
}
.hakemuseditori .thumb-up {
  position: relative;
}
.hakemuseditori .thumb-up:before {
  content: "";
  background: url("../img/hakemuseditori/thumb-up.png") center center no-repeat;
  background-size: 42px 42px;
  width: 42px;
  height: 42px;
  position: absolute;
  left: -50px;
  display: inline-block;
  top: -11px;
}
.hakemuseditori .ilmoittautuminen .ilmoittautuminen-item {
  padding: 20px 0px;
}
.hakemuseditori .ilmoittautuminen .ilmoittautuminen-item + .ilmoittautuminen-item {
  border-top: 1px solid #d2d2d2;
}
.hakemuseditori .ilmoittautuminen header {
  font-family: 'PT Sans Narrow', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 18px;
  text-transform: none;
  font-weight: normal;
}
.hakemuseditori .ilmoittautuminen header strong {
  font-family: 'PT Sans Narrow', 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 10px;
}
.hakemuseditori .application-periods {
  font-size: 14px;
}
.hakemuseditori .application-periods .inactive {
  color: #777777;
}
.hakemuseditori .application-periods .application-period-status {
  font-weight: bold;
  font-style: italic;
}
.hakemuseditori .status-message {
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #777777;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;
  line-height: 32px;
  height: 32px;
}
.hakemuseditori .status-message.error {
  color: #c9302c;
}
.hakemuseditori .status-message.success {
  color: #555555;
}
.hakemuseditori .validation-message.error {
  color: #c9302c;
}
.hakemuseditori .alert {
  padding: 15px;
  margin: 1em 0;
  border: 1px solid transparent;
}
.hakemuseditori .alert.alert-info {
  border-color: #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
}
.hakemuseditori .alert.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.hakemuseditori .alert.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.hakemuseditori input[type="text"],
.hakemuseditori input[type="email"],
.hakemuseditori textarea {
  background: #ffffff;
  color: #000000;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 0px 0px 0px 10px;
  border-radius: 4px;
  font-size: 13px;
  height: 26px;
}
.hakemuseditori input[type="text"]:focus,
.hakemuseditori input[type="email"]:focus,
.hakemuseditori textarea:focus {
  background: #ffffff;
}
.hakemuseditori input[type="text"]:hover,
.hakemuseditori input[type="email"]:hover,
.hakemuseditori textarea:hover {
  background: #fff5da;
}
.hakemuseditori input[type="text"].saved,
.hakemuseditori input[type="email"].saved,
.hakemuseditori textarea.saved {
  background-color: #e5f5e7;
}
.hakemuseditori input:focus,
.hakemuseditori textarea:focus {
  border: 1px solid rgba(82, 168, 236, 0.8) !important;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(82, 168, 236, 0.6) 0px 0px 8px 0px !important;
  outline: 0;
}
.hakemuseditori input[disabled] {
  background: transparent;
  box-shadow: none;
}
.hakemuseditori textarea {
  resize: none;
  padding: 5px 10px;
}
.hakemuseditori button:focus,
.hakemuseditori a:focus {
  outline: 1px solid rgba(82, 168, 236, 0.8) !important;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(82, 168, 236, 0.6) 0px 0px 8px 0px !important;
}
.hakemuseditori button {
  font-family: helvetica, arial, sans-serif;
  color: #000000;
  line-height: 20px;
  text-transform: none;
  letter-spacing: normal;
  font-size: 13px;
  padding: 4px 12px;
  background-color: #ededed;
  cursor: pointer;
  border: 0;
}
.hakemuseditori button:hover {
  color: #777777;
  background: #ededed;
}
.hakemuseditori button[disabled] {
  color: #d2d2d2;
  background: #ededed;
}
.hakemuseditori button.confirm {
  background: #c9302c;
  border-color: #751c1a;
  color: #ffffff;
}
.hakemuseditori button.confirm:hover {
  background: #d9534f;
}
.hakemuseditori button.delete-btn:not(.confirm) {
  background: transparent;
  border: none;
  font-size: 30px;
  color: #999;
  box-shadow: none;
  padding-right: 0;
}
.hakemuseditori button.delete-btn:not(.confirm):before {
  content: "";
  background: url("../img/hakemuseditori/remove.png") center center no-repeat;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  display: inline-block;
}
.hakemuseditori button.delete-btn:not(.confirm):hover {
  color: #333;
}
.hakemuseditori button.delete-btn:not(.confirm):active {
  box-shadow: none;
}
.hakemuseditori .question-group-indent {
  margin-left: 20px;
}
.hakemuseditori .question-group-section {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.hakemuseditori .question-group-title {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}
.hakemuseditori .questions {
  padding: 15px 0px;
}
.hakemuseditori .questions .question {
  margin-top: 10px;
}
.hakemuseditori .questions .question .title {
  line-height: 2em;
  display: inline;
  font-weight: bold;
  color: #444;
}
.hakemuseditori .questions .answer {
  display: block;
}
.hakemuseditori .questions input[type=text] {
  width: 400px;
}
.hakemuseditori .questions textarea {
  width: 400px;
  height: 100px;
}
.hakemuseditori .questions input[type=radio] {
  margin-right: 5px;
}
.hakemuseditori .questions .radio-button-item {
  display: block;
}
.hakemuseditori .questions .validation-message {
  margin-left: 10px;
}
.hakemuseditori .fade-transitions.ng-leave {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.hakemuseditori .fade-transitions.ng-leave-active {
  opacity: 0;
}
.hakemuseditori .fade-transitions.ng-enter {
  opacity: 0;
  -webkit-transition: 2s all;
  transition: 2s all;
}
.hakemuseditori .fade-transitions.ng-enter-active {
  opacity: 1;
}
.hakemuseditori a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
.hakemuseditori .icon-info-circled.verboseHelp {
  color: #149ecb;
  cursor: help;
}
.hakemuseditori .ajax-spinner-small:after {
  content: "";
  background: url(../img/hakemuseditori/ajax-loader.gif);
  background-size: 15px 15px;
  vertical-align: text-bottom;
  width: 15px;
  height: 15px;
  margin-left: 15px;
  display: inline-block;
}
body {
  font-family: Arial;
}
