<ul class="application-periods">
    <li ng-if="periods().length == 1 && periods()[0].end != null">
        {{ localization("label.applicationPeriodEnds") }}
        <time formatted-time="periods()[0].end" format="LLL Z"/>
    </li>

    <li ng-repeat="applicationPeriod in periods()" ng-class="{inactive: !applicationPeriod.active}" ng-if="periods().length != 1">
        {{ $index + 1 }}. {{ localization("label.applicationPeriod").toLowerCase() }}
        <time formatted-time="applicationPeriod.start" format="LLL Z"/> -
        <time formatted-time="applicationPeriod.end" format="LLL Z"/>
        <span class="application-period-status">{{ statusString(applicationPeriod) }}</span>
    </li>
</ul>
