<div class="hakukohteet">
    <div class="hakukohteet__header">
        <span class="hakukohteet__header-text">{{ localization('label.resultsCaption') }} ({{ status }})</span>
    </div>
    <div class="hakutoive"
         ng-repeat="hakutoive in valintatulos().hakutoiveet"
         ng-class="hakutoiveValintatilaStateClass(hakutoive)">
        <div class="hakutoive__prioriteetti">
            <div class="hakutoive__prioriteetti--sticky-container">
                {{ $index + 1 }}
            </div>
        </div>
        <div class="hakutoive-grid">
            <div class="hakutoive-grid__kuvaus hakutoive-grid__hakutoive-grid-item">
                <span class="hakutoive-grid__kuvaus--tarjoaja-nimi">{{ hakutoive.tarjoajaNimi }}</span>
                <span class="hakutoive-grid__kuvaus--hakukohde-nimi">{{ hakutoive.hakukohdeNimi }}</span>
            </div>
            <div class="hakutoive-grid__valintatila hakutoive-grid__hakutoive-grid-item">
                <div class="valintatila">
                    <span class="valintatila__header"
                          ng-bind="hakutoiveenValintatulosText(hakutoive, valintatulos().hakutoiveet)">
                    </span>
                    <a class="valintatila__lisatiedot"
                       ng-if="hasJonokohtaisetTulostiedot(hakutoive)"
                       ng-click="toggleJonokohtaisetTulostiedotVisibility(hakutoive)">
                        <span class="valintatila__lisatiedot-text">{{ localization('label.moreInformation') }}</span>
                        <i class="zmdi"
                           ng-class="isJonokohtaisetTulostiedotVisible(hakutoive) ? 'zmdi-chevron-up' : 'zmdi-chevron-down'"></i>
                    </a>
                    <div class="valintatila__sitova-vastaanotto-checkbox"
                         ng-if="hakutoive.vastaanottotila == 'EHDOLLISESTI_VASTAANOTTANUT'">
                        <input id="{{ 'valintatila__sitova-vastaanotto-checkbox-' + $index }}"
                               type="checkbox"
                               ng-model="hakutoive.isSitovaVastaanottoChecked"
                               class="valintatila__sitova-vastaanotto-checkbox-input"
                               ng-disabled="vastaanottoSentSuccessfully"
                               ignore-dirty>
                        <label for="{{ 'valintatila__sitova-vastaanotto-checkbox-' + $index }}"
                               class="valintatila__sitova-vastaanotto-checkbox-label">
                            {{ localization('label.acceptConditionallyAccepted') }}
                        </label>
                    </div>
                    <div class="valintatila__sitova-vastaanotto-button"
                         ng-if="hakutoive.vastaanottotila == 'EHDOLLISESTI_VASTAANOTTANUT'">
                        <input type="button"
                               class="valintatila__sitova-vastaanotto-button-input"
                               ng-disabled="!hakutoive.isSitovaVastaanottoChecked || ajaxPending || vastaanottoSentSuccessfully"
                               ng-click="vastaanotaSitovasti(application, hakutoive)"
                               value="{{ localization('button.confirmChange') }}">
                        <div class="lds-ellipsis"
                             ng-if="ajaxPending">
                            <div></div><div></div><div></div><div></div>
                        </div>
                        <span class="valintatila__sitova-vastaanotto-button-error animated fadein"
                              ng-if="error">
                            {{ getError() }}
                        </span>
                        <span class="valintatila__sitova-vastaanotto-button-warning animated fadeIn"
                              ng-if="hakutoive.isSitovaVastaanottoChecked">
                            {{ localization('label.cannotUndoChanges') }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="hakutoive-grid__valintatapajonon-valintatapa hakutoive-grid__valintatapajono-grid-item hakutoive-grid__valintatapajono-header"
                 ng-if="isJonokohtaisetTulostiedotVisible(hakutoive)">
                <span>Valintatapa</span>
            </div>
            <div class="hakutoive-grid__valintatapajonon-pisteet hakutoive-grid__valintatapajono-grid-item hakutoive-grid__valintatapajono-header"
                 ng-if="isJonokohtaisetTulostiedotVisible(hakutoive)">
                <span>Pisteesi</span>
            </div>
            <div class="hakutoive-grid__valintatapajonon-alimmat-hyvaksytyt-pisteet hakutoive-grid__valintatapajono-grid-item hakutoive-grid__valintatapajono-header"
                 ng-if="isJonokohtaisetTulostiedotVisible(hakutoive)">
                <span>Alimmat hyväksytyt pisteet</span>
            </div>
            <div class="hakutoive-gird__valintatapajonon-valinnan-tulos hakutoive-grid__valintatapajono-grid-item hakutoive-grid__valintatapajono-header"
                 ng-if="isJonokohtaisetTulostiedotVisible(hakutoive)">
                <span>Valinnan tulos</span>
            </div>
            <div class="hakutoive-grid__valintatapajonon-valintatapa hakutoive-grid__valintatapajono-grid-item"
                 ng-if="isJonokohtaisetTulostiedotVisible(hakutoive)"
                 ng-repeat-start="jonokohtainenTulostieto in sortJonokohtaisetTulostiedot(hakutoive.jonokohtaisetTulostiedot)">
                <span>{{ jonokohtainenTulostieto.nimi }}</span>
            </div>
            <div class="hakutoive-grid__valintatapajonon-pisteet hakutoive-grid__valintatapajono-grid-item"
                 ng-if="isJonokohtaisetTulostiedotVisible(hakutoive)">
                <span>{{ jonokohtainenTulostieto.pisteet || '-' }}</span>
            </div>
            <div class="hakutoive-grid__valintatapajonon-alimmat-hyvaksytyt-pisteet hakutoive-grid__valintatapajono-grid-item"
                 ng-if="isJonokohtaisetTulostiedotVisible(hakutoive)">
                <span>{{ jonokohtainenTulostieto.alinHyvaksyttyPistemaara || '-' }}</span>
            </div>
            <div class="hakutoive-gird__valintatapajonon-valinnan-tulos hakutoive-grid__valintatapajono-grid-item"
                 ng-if="isJonokohtaisetTulostiedotVisible(hakutoive)"
                 ng-repeat-end>
                <span>{{ localization('label.resultState.' + capitalize(jonokohtainenTulostieto.valintatila)) }}</span>
            </div>
        </div>
    </div>
</div>
