.lasnaoloilmoittautuminenForm {
  fieldset {
    border: none;
    padding: 0;
    margin: 0 0;

    .lasnaolo-ilmoittautuminen {
      padding: 0;
      margin: 0 0 1em 0;
      text-transform: none;
      //color: #777777;

      .label-highlight {
        text-transform: uppercase;
        margin-right: 10px;
        font-size: 15px;
      }

      .tarjoaja-hakukohde {
        float: right;
        width: 400px;
      }
    }

    .lasnaolo-confirmation {
      color: @success-color;
    }

    .lasnaolo-error {
      margin-top: 10px;
      color: red;
    }

  }

  .save-btn-wrapper {
    margin-top: 15px;
    .save-btn {
      .body-font(@button-color);
      font-size: @body-font-size;
      padding: 4px 12px;
      background-color: @button-background;
      cursor: pointer;
      border: 0;

      &:hover {
        color: @button-hover-color;
        background: @button-hover-background-color;
      }

      &[disabled] {
        color: @button-disabled-color;
        background: @button-disabled-background;
      }
    }
  }
}

.check-options {
  height: 30px;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;

  label {
    margin-right: 5px;
  }
}

hr.vertical {
  width: 0;
  height: 100%; /* or height in PX */
  display: inline;
  margin-right: 5px;
}
