<div class="" ng-repeat="hakutoive in hakutoiveet()">
    Vastaa sitovasti:
    <label><input type="radio" name="vastaanotettavaHakutoive" value="VASTAANOTTANUT" ng-model="vastaanottotila" ng-disabled="ajaxPending"/>Vastaanottanut</label>
    <label><input type="radio" name="vastaanotettavaHakutoive" value="PERUNUT" ng-model="vastaanottotila" ng-disabled="ajaxPending"/>Perunut</label>
    <label ng-if="hakutoive.vastaanotettavuustila == 'VASTAANOTETTAVISSA_EHDOLLISESTI'"><input type="radio" name="vastaanotettavaHakutoive" value="EHDOLLISESTI_VASTAANOTTANUT" ng-model="vastaanottotila" ng-disabled="ajaxPending"/>Ehdollisesti vastaanottanut</label>

    <div>
        <span ng-bind="error" class="status-message error" ></span>
        <span class="ajax-spinner" ng-show="ajaxPending"></span>
        <button class="vastaanota-btn" disable-click-focus
                confirm confirm-text="{{localization('button.vastaanota_confirm')}}" confirm-action="vastaanotaHakutoive(hakutoive)"
                ng-disabled="vastaanottotila.length==0 || ajaxPending" aria-label="{{ localization('button.vastaanota_ariaLabel') }}" ng-bind="localization('button.vastaanota_confirm')">
        </button>
    </div>
</div>
