@import "typeahead.less";
@import "common.less";
@import "components.less";

@import "templates/application.less";
@import "templates/hakutoiveet.less";
@import "templates/valintatulos.less";
@import "templates/henkilotiedot.less";
@import "templates/hakutoiveenVastaanotto.less";
@import "templates/ilmoittautuminen.less";
@import "templates/applicationPeriods.less";

// typography

body {
  .body-font;
}

h1 {
  .heading-font;
  margin: 20px 0px;
}

h2 {
  .sub-heading-font;
  margin: 20px 0px 8px 0px;

  &:first-child {
    margin-top: 0;
  }
}

a {
  color: @link-color;
  &:active { color: @link-active-color; }
  &:hover { color: @link-hover-color; }
  &:visited { color: @link-visited-color; }
}

.instruction {
  font-weight: normal;
  color: @font-color-light;
  font-style: italic;
}

.status-message {
  .body-font(@font-color-light);
  line-height: 32px;
  height: 32px;

  &.error {
    color: @error-color;
  }

  &.success {
    color: @status-text-color;
  }
}

.validation-message {
  &.error {
    color: @error-color;
  }
}

// Layout

.container {
  max-width: 1160px;
  margin: 50px auto 100px auto;
}

.sidebar-column {
  width: 275px;
  position: absolute;
}

.content-column {
  margin-left: 310px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

// Menu

.sidebar-menu {
  border-top: 1px solid @menu-border;
  .menu-font();

  li {
    height: 40px;
    line-height: 40px;
    background: @menu-background;
    padding-left: 40px;
    margin-left: 12px;
  }

  li.sidebar-menu-top-level {
    background: white;
    padding-left: 0px;
    position: relative;

    &:before {
      content: "";
      .triangle-down(@menu-triangle-color);
      position: relative;
      display: inline-block;
      margin-left: 9px;
      margin-right: 5px;
      top: -2px;
    }
  }
}

// Application list

.application-list-status {
  .body-font();

  &.ajax-spinner:after {
    vertical-align: -50%;
  }

  &.error {
    color: @error-color;
    border-color: @error-color;
  }
}

// Forms

input[type="text"], textarea {
  background: @input-background;
  color: @font-color;
  border: 1px solid @input-border;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 0px 0px 0px 10px;
  border-radius: 4px;
  font-size: @body-font-size;
  height: 2 * @body-font-size;

  &:focus {
    background: @input-focus-background;
  }

  &:hover {
    background: @input-hover-background;
  }

  &.saved {
    background-color: @save-highlight-timestamp-color;
  }
}

input, textarea {
  &:focus {
    border: 1px solid @input-focus-border !important;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(82, 168, 236, 0.6) 0px 0px 8px 0px !important;
    outline: 0;
  }
}

input[disabled] {
  background: transparent;
  box-shadow: none;
}

textarea {
  resize: none;
  padding: 5px 10px;
}

button, a {
  &:focus {
    outline: 1px solid @input-focus-border !important;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(82, 168, 236, 0.6) 0px 0px 8px 0px !important;
  }
}

button {
  .body-font(@button-color);
  font-size: @body-font-size;
  padding: 4px 12px;
  background-color: @button-background;
  cursor: pointer;
  border: 0;

  &:hover {
    color: @button-hover-color;
    background: @button-hover-background-color;
  }

  &[disabled] {
    color: @button-disabled-color;
    background: @button-disabled-background;
  }
}

button.confirm {
  background: @button-confirm-background;
  border-color: @button-confirm-border-color;
  color: @button-confirm-color;
  &:hover {
    background: @button-confirm-hover-color;
  }
}

button.delete-btn:not(.confirm) {
  background: transparent;
  border: none;
  font-size: 30px;
  color: #999;
  box-shadow: none;
  padding-right: 0;

  &:before {
    content: "";
    background: url("../img/remove.png") center center no-repeat;
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    display: inline-block;
  }

  &:hover {
    color: #333;
  }

  &:active {
    box-shadow: none;
  }
}

// Symbols

.triangle-down(@color){
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 3px 0 3px;
  border-color: @color transparent transparent transparent;
}

.ajax-spinner:after {
  content: url(../img/ajax-loader.gif);
  vertical-align: top;
  margin-left: 15px;
}

.ajax-spinner-small:after {
  content: "";
  background: url(../img/ajax-loader.gif);
  background-size: 15px 15px;
  vertical-align: text-bottom;
  width: 15px;
  height: 15px;
  margin-left: 15px;
  display: inline-block;
}

///

.question-group-indent {
  margin-left: 20px;
}

.question-group-section {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.question-group-title {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

.application-section-heading {
  margin-top: 20px;
}

.questions {
  padding: 15px 0px;

  .question {
    margin-top: 10px;

    .title {
      line-height: 2em;
      display: inline;
    }
  }

  .answer {
    display: block;
  }

  input[type=text] {
    width: 400px;
  }

  textarea {
    width: 400px;
    height: 100px;
  }

  input[type=radio] {
    margin-right: 5px;
  }

  .radio-button-item {
    display: block;
  }

  .validation-message {
    margin-left: 10px;
  }
}

label.title {
  font-weight: bold;
  color: #444;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.icon-info-circled {
  &.verboseHelp {
    color: @icon-background-blue;
    cursor: help;
  }
}

// transitions

.with-bg-transition() {
  transition: background-color 1000ms;
}

.fade-transitions {
  &.ng-leave {
    -webkit-transition:0.5s all;
    transition:0.5s all;
  }

  &.ng-leave-active {
    opacity: 0;
  }

  &.ng-enter {
    opacity: 0;
    -webkit-transition:2s all;
    transition:2s all;
  }

  &.ng-enter-active {
    opacity: 1;
  }
}
