@import "typeahead.less";
@import "common.less";
@import "components.less";

body {
  .body-font;
}

h1 {
  .heading-font;
  margin: 20px 0px;
}

h2 {
  .sub-heading-font;
  margin: 20px 0px 0px 0px;

  &:first-child {
    margin-top: 0;
  }

  &.light {
    font-weight: normal;
    margin-bottom: 3px;
  }
}

a {
  color: @link-color;
  &:active { color: @link-active-color; }
  &:hover { color: @link-hover-color; }
  &:visited { color: @link-visited-color; }
}

.italic {
  font-style: italic;
}

.container {
  max-width: 1160px;
  margin: 50px auto 100px auto;
}

.sidebar-column {
  width: 275px;
  position: absolute;
}

.sidebar-menu {
  font-weight: bold;
  li {
    height: 40px;
    line-height: 40px;
    background: @menu-background;
    padding-left: 55px;
  }

  li.sidebar-menu-top-level {
    background: white;
    border-top: 2px solid @menu-background;
    padding-left: 35px;
    position: relative;
    &:before {
      content: url(../img/arrow-down.png);
      position: absolute;
      left: 10px;
    }
  }
}

.content-column {
  margin-left: 310px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.instruction {
  font-weight: normal;
  color: @font-color-light;
  font-style: italic;
}


.status-message {
  .body-font(@font-color-light);
  line-height: 32px;
  height: 32px;

  &.error {
    color: @error-color;
  }

  &.success {
    color: @status-text-color;
  }
}

.validation-message {
  &.error {
    color: @error-color;
  }
}

input[type="text"], textarea {
  background: @input-background;
  color: @font-color;
  border: 1px solid @input-border;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding: 0px 0px 0px 10px;
  border-radius: 4px;
  font-size: @body-font-size;
  height: 2 * @body-font-size;

  &:focus {
    background: @input-focus-background;
  }

  &:hover {
    background: @input-hover-background;
  }

  &.saved {
    background-color: @save-highlight-timestamp-color;
  }
}

.with-bg-transition() {
  transition: background-color 1000ms;
}

input, textarea {
  &:focus {
    border: 1px solid @input-focus-border !important;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(82, 168, 236, 0.6) 0px 0px 8px 0px !important;
    outline: 0;
  }
}

button, a {
  &:focus {
    outline: 1px solid @input-focus-border !important;
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset, rgba(82, 168, 236, 0.6) 0px 0px 8px 0px !important;
  }
}

textarea {
  resize: none;
  padding: 5px 10px;
}

button {
  .body-font(@button-color);
  font-size: @body-font-size;
  padding: 4px 12px;
  color: #333333;
  text-shadow: none;
  background-color: @button-background;
  border: 1px solid @button-border-color;
  box-shadow: inset 1px 1px 1px @button-inset-shadow;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: @button-hover-background-color;
    border: 1px solid @button-hover-border-color;
    color: #444;
  }

  &[disabled] {
    color: @button-disabled-color;
    background: @button-disabled-background;
    border: 1px solid @button-disabled-border-color;
    box-shadow: none;
    opacity: 0.65;
  }

  &:active {
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15);
  }
}

button.confirm {
  background: @button-confirm-background;
  border-color: @button-confirm-border-color;
  color: @button-confirm-color;
  &:hover {
    background: @button-confirm-hover-color;
  }
}

button.delete-btn:not(.confirm) {
  background: transparent;
  border: none;
  font-size: 30px;
  color: #999;
  box-shadow: none;

  &:before {
    content: '\00D7';
  }

  &:hover {
    color: #333;
  }

  &:active {
    box-shadow: none;
  }
}

.float-right {
  float: right;
  margin-left: 20px;
}

.ajax-spinner:after {
  content: url(../img/ajax-loader.gif);
  vertical-align: top;
  margin-left: 15px;
}

.ajax-spinner-small:after {
  content: "";
  background: url(../img/ajax-loader.gif);
  background-size: 15px 15px;
  vertical-align: text-bottom;
  width: 15px;
  height: 15px;
  margin-left: 15px;
  display: inline-block;
}

.application-section-heading {
  .section-heading-font();
  border-bottom: 1px solid @section-border-color;
  padding-bottom: 0px;
  line-height: 40px;
  letter-spacing: 0.12em;
  position: relative;
}

.application-list-status {
  padding: 20px;
  border: 1px solid @border-color;
  .body-font();

  &.ajax-spinner:after {
    vertical-align: -50%;
  }

  &.error {
    color: @error-color;
    border-color: @error-color;
  }
}

.application-list-item {
  border: 1px solid @border-color;
  padding: 20px;

  & + .application-list-item {
    margin-top: 50px;
  }
}

.application-status {
  margin-bottom: 10px;
}

.application-state-message {
  margin-top: 15px;
  font-weight: bold;
}

.application-section {
  margin-top: 0px;
}

.timestamp-row {
  margin-bottom: 10px;
  transition: background-color 1000ms;
  display: inline-block;
  position: relative;

  &.saved {
    background-color: @save-highlight-timestamp-color;
  }
}

.result-list {
  border-collapse: collapse;
  width: 100%;
  line-height: 125%;

  th {
    .section-heading-font(@font-color);
    padding-bottom: 8px;
    line-height: 20px;
    border-bottom: 1px solid #bfe4f1;

    &:first-child {
      width: 70%;
    }
  }

  td {
    padding: 8px 0;
    border-bottom: 1px solid #bfe4f1;
    vertical-align: top;

    &:first-child {
      padding-right: 10px;
    }

    &:last-child {
      vertical-align: top;
      font-style: italic;
    }
  }

  tr.canceled {
    color: @font-color-light;
  }

  tr.confirmed {
    color: #666;
    font-weight: bold;
  }
}

.result-status {
  font-style: italic;
}

.hakutoiveenVastaanotto {
  padding: 20px;
  margin: 10px 0px;
  background: #f2f8fa;

  .hakutoive-options {
    margin: 10px 0px;
  }

  ul {
    input {
      margin: 5px;
    }
  }

  .status-message {
    margin-left: 5px;
  }

  &.ng-leave {
    -webkit-transition:0.5s all;
    transition:0.5s all;
  }

  &.ng-leave-active {
    opacity: 0;
  }
}

.preference-list {
  position: relative;
  .overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../img/ajax-loader.gif) rgba(255,255,255, 0.5) no-repeat center center;
    z-index: 1;
  }
  &.validating .overlay {
    display: block;
  }
}

.preference-list-item {
  height: 120px;
  width: 100%;
  padding: 0px 0px 0px 20px;
  border-bottom: 1px solid @border-color;

  &:last-child {
    border-bottom: 0;
  }

  &.saved {
    background: @save-highlight-question-color;
  }

  & > .item-content:first-child {
    font-size: 36px;
    line-height: 80px;
    width: 10%;
    float: left;
    position: relative;
    margin-top: 20px;
  }

  &.inactive > .item-content:first-child {
    margin-top: 0;
  }

  & > .item-content:nth-child(2) {
    width: 75%;
    float: left;
    position: relative;
    height: 100%;

    .row {
      width: 100%;
      position: absolute;
      &.opetuspiste {
        top: 30px;
      }

      &.koulutus {
        top: 70px;
      }
    }

    .label-column {
      width: 25%;
      display: inline-block;
      font-weight: bold;
    }

    .value-column {
      display: inline-block;
      vertical-align: top;
      width: 74%;
    }

    input, select {
      width: 100%;
    }
  }

  & > .item-content:last-child {
    width: 15%;
    float: right;
    line-height: 80px;
    text-align: right;
  }

  label > span.label {
    width: 20%;
    display: inline-block;
    font-weight: bold;
  }

  .sort-arrow-down {
    .arrow-button(@arrow-down);
    bottom: -10px;
    left: -13px;
    position: absolute;
  }

  .sort-arrow-up {
    .arrow-button(@arrow-up);
    top: -10px;
    left: -13px;
    position: absolute;
  }

  input[disabled] {
    background: transparent;
    box-shadow: none;
  }

  &:last-child.inactive {
    border-bottom: 1px dashed @border-color;
  }

  &.inactive {
    opacity: 0.5;
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px dashed @border-color;

    .item-content:first-child {
      display: inline-block;
    }

    button, .item-content {
      display: none;
      height: 40px;
      line-height: 40px;
    }

    .row-number {
      font-size: 18px;
      padding-left: 7px;
      display: block;
    }
  }
}

.preference-list-item {
  transition: background-color 1000ms;

  &.ng-leave {
    -webkit-transition:0.5s all;
    transition:0.5s all;
    max-height: 120px;
    overflow: hidden;
  }

  &.ng-leave-active {
    max-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  &.ng-enter {
    -webkit-transition:0.5s all;
    transition:0.5s all;
    max-height: 0px;
    overflow: hidden;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  &.ng-enter-active {
    max-height: 120px;
  }
}

.question-group-indent {
  margin-left: 20px;
}

.question-group-section {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.question-group-title {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

.application-section-heading {
  margin-top: 20px;
}

.questions {
  padding: 15px 0px;

  .question {
    margin-top: 10px;

    .title {
      line-height: 2em;
      display: inline-block;
    }
  }

  .answer {
    display: block;
  }

  input[type=text] {
    width: 400px;
  }

  textarea {
    width: 400px;
    height: 100px;
  }

  input[type=radio] {
    margin-right: 5px;
  }

  .radio-button-item {
    display: block;
  }

  .validation-message {
    margin-left: 10px;
  }
}

label.title {
  font-weight: bold;
  color: #444;
}

.badge {
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  line-height: 1.4em;
  padding: 0 0.4em;
  color: #ffffff;
  vertical-align: baseline;
  border-radius: 3px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: @badge-background-blue;
  text-align: left;

  &.gray {
    background-color: @badge-background-gray;
  }

  &.green {
    background-color: @badge-background-green;
  }

  &.orange {
    background-color: @badge-background-orange;
  }

  &.transparent {
    background-color: rgba(0,0,0,0);
    color: @font-color-light;
  }
}

.disabled {
  opacity: 0.5;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.icon-info-circled {
  &.verboseHelp {
    color: @badge-background-blue;
    cursor: help;
  }
}

.yhteystiedot {
  margin-top: 10px;

  input {
    .with-bg-transition();
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  .label-column {
    font-weight: bold;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    line-height: 24px;
  }

  .value-column {
    display: inline-block;
    width:400px;
    input {
      width: 100%;
    }
  }
}
