@import "common.less";

body {
  .body-font;
  line-height: 26px;
  padding: 30px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  .body-font;
  text-transform: uppercase;
  font-weight: normal;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid @section-border-color;
}

.theme {
  margin-bottom: 20px;
}

.question {
  label {
    display: inline-block;
    width: 400px;
  }
}

.gradegrid {
  td {
    width: 20%;
  }
}