<form name="vastaanottoForm" novalidate>
  <div class="hakutoiveenVastaanotto fade-transitions" ng-repeat="hakutoive in hakutoiveet()">
      <header class="hakutoiveenVastaanotto-caption thumb-up">
          <strong>{{ localization('message.acceptEducation.received') }}</strong>
           {{ hakutoive.opetuspiste.name }} - {{ hakutoive.koulutus.name }}
      </header>

      <div class="hakutoive-vastaanotettavissa" ng-if="hakutoive.vastaanotettavissaAsti">
           {{ localization('message.acceptEducation.latestAnswer', {
            aika: formatTimestamp(hakutoive.vastaanotettavissaAsti)
          }) }}
      </div>

      <ul class="hakutoive-options">
          <li><label><input type="radio" name="vastaanotettavaHakutoive" value="VASTAANOTTANUT" ng-model="vastaanottotila" ng-disabled="ajaxPending"/>{{ localization('message.acceptEducation.accept') }}</label></li>
          <li><label ng-show="hakutoive.vastaanotettavuustila == 'VASTAANOTETTAVISSA_EHDOLLISESTI'"><input type="radio" name="vastaanotettavaHakutoive" value="EHDOLLISESTI_VASTAANOTTANUT" ng-model="vastaanottotila" ng-disabled="ajaxPending"/>{{ localization('message.acceptEducation.conditionalAccept') }}</label></li>
          <li><label><input type="radio" name="vastaanotettavaHakutoive" value="PERUNUT" ng-model="vastaanottotila" ng-disabled="ajaxPending"/>{{ localization('message.acceptEducation.reject') }}</label></li>
      </ul>

      <div>
          <span class="ajax-spinner" ng-show="ajaxPending"></span>
          <button class="vastaanota-btn" disable-click-focus
                  confirm confirm-text="{{localization('button.vastaanota_confirm')}}" confirm-action="vastaanotaHakutoive(hakutoive)"
                  ng-disabled="vastaanottotila.length==0 || ajaxPending" aria-label="{{ localization('button.vastaanota_ariaLabel') }}" ng-bind="localization('button.vastaanota')">
          </button>
          <span ng-bind="error" class="status-message error" ></span>
      </div>
  </div>
</form>
