<table class="result-list">
    <thead>
        <th>{{ localization('label.resultsCaption') }} <span class="result-list-status"> {{ status }}</span></th>
        <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="tulos in valintatulos().hakutoiveet" ng-class="valintatulosStyle(tulos)">
        <td>
            <span class="row-number">{{$index+1}}.</span>
            <span ng-bind="tulos.tarjoajaNimi"></span>
            <span ng-bind="tulos.hakukohdeNimi"></span>
        </td>
        <td class="vastaanottotieto">
            <div>
                <div>
                    <span ng-bind="valintatulosText(tulos)"></span>
                </div>
                <div class="update-vastaanottotieto" ng-show="tulos.vastaanottotila == 'EHDOLLISESTI_VASTAANOTTANUT'">
                    <span class="ajax-spinner" ng-show="ajaxPending"></span>
                    <div ng-hide="ajaxPending">
                        <div>
                            <input type="checkbox" ng-model="enableConfirmation" /> {{ localization('label.acceptConditionallyAccepted') }}
                        </div>
                        <div class="confirm-update-vastaanottotieto">
                            <button
                                    ng-disabled="!enableConfirmation"
                                    ng-click="vastaanotaSitovasti(hakemus, tulos)"
                                    ng-init="enableConfirmation=false">{{ localization('button.confirmChange') }}</button>
                            <i>{{ localization('label.cannotUndoChanges') }}</i>
                        </div>
                        <span class="status-message error" ng-show="error">{{ getError() }}</span>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

