<table class="result-list">
    <thead>
        <th>{{ localization('label.resultsCaption') }} <span class="result-list-status"> {{ status }}</span></th>
        <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="tulos in valintatulos().hakutoiveet" ng-class="valintatulosStyle(tulos)">
        <td>
            <span class="row-number">{{$index+1}}.</span>
            <span ng-bind="tulos.tarjoajaNimi"></span>
            <span ng-bind="tulos.hakukohdeNimi"></span>
        </td>
        <td>
            <span ng-bind="valintatulosText(tulos)"></span>
        </td>
    </tr>
</table>

