<table class="result-list">
    <thead>
        <th>{{ localization('label.resultsCaption') }} <span class="result-list-status"> {{ status }}</span></th>
        <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="tulos in valintatulos().hakutoiveet" ng-class="valintatulosStyle(tulos)">
        <td>
            <span class="row-number">{{$index+1}}.</span>
            <span ng-bind="tulos.tarjoajaNimi"></span>
            <span ng-bind="tulos.hakukohdeNimi"></span>
        </td>
        <td class="vastaanottotieto">
            <span class="ajax-spinner" ng-show="ajaxPending"></span>
            <div ng-hide="ajaxPending">
                <div>
                    <span ng-bind="valintatulosText(tulos)"></span>
                </div>
                <div class="update-vastaanottotieto" ng-show="tulos.vastaanottotila == 'EHDOLLISESTI_VASTAANOTTANUT'">
                    <div>
                        <input type="checkbox" ng-model="enableConfirmation" /> Lopetan jonotuksen ja muutan vastaanoton sitovaksi
                    </div>
                    <div class="confirm-update-vastaanottotieto">
                        <button
                                ng-disabled="!enableConfirmation"
                                ng-click="vastaanotaSitovasti(hakemus, tulos)"
                                ng-init="enableConfirmation=false">Vahvista muutos</button>
                        <i>HUOM! Muutosta ei voi perua</i>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

