# Logger
log4j.rootLogger={{env_loglevel}}, FILE
{# raw-endraw -välillä template engine ei tee mitään! #}
{% raw %}
# Console output
log4j.appender.STDOUT=org.apache.log4j.ConsoleAppender
log4j.appender.STDOUT.Threshold=ERROR
log4j.appender.STDOUT.layout.ConversionPattern=%d{ISO8601} %-5p {%X{user}} [%t] %-5p %c: %m%n
# File output
log4j.appender.FILE.Threshold=INFO
log4j.appender.FILE.File=${user.home}/tomcat/logs/oph-omatsivut.log
log4j.appender.FILE=org.apache.log4j.RollingFileAppender
log4j.appender.FILE.Append=true
log4j.appender.FILE.layout=org.apache.log4j.PatternLayout
log4j.appender.FILE.layout.ConversionPattern=%d{ISO8601} %-5p {%X{user}} [%t] %-5p %c: %m%n
log4j.appender.FILE.MaxFileSize=10MB
log4j.appender.FILE.MaxBackupIndex=100
# Audit logging
log4j.logger.audit=INFO, Audit
log4j.additivity.audit= false
log4j.appender.Audit.Threshold=INFO
log4j.appender.Audit.File=${user.home}/tomcat/logs/oph-omatsivut-audit.log
log4j.appender.Audit=org.apache.log4j.RollingFileAppender
log4j.appender.Audit.Append=true
log4j.appender.Audit.layout=org.apache.log4j.PatternLayout
log4j.appender.Audit.layout.ConversionPattern=%d{ISO8601} %-5p {%X{user}} [%t] %-5p %c: %m%n
log4j.appender.Audit.MaxFileSize=10MB
log4j.appender.Audit.MaxBackupIndex=50
{% endraw %}
# Log omatsivut with INFO
log4j.logger.fi.vm.sade.utils=INFO
log4j.logger.fi.vm.sade.omatsivut=INFO
log4j.logger.fi.vm.sade.hakemuseditori=INFO
log4j.logger.fi.vm.sade.groupemailer=INFO
# By default hide these spammers by default
log4j.logger.org.apache.cxf=ERROR
log4j.logger.org.springframework=WARN
log4j.logger.org.vaadin=ERROR
log4j.logger.javax.sql=ERROR
log4j.logger.org.apache.activemq=INFO
log4j.logger.org.apache.activemq.spring={{env_loglevel}}
# cas session + singlelogout tracing
log4j.logger.org.jasig.cas.client.session=INFO
