{{note}}
{{#haut}}
    <p>
        {{haku}}
    <ul>
        {{#koulutukset}}
            <li>{{.}}</li>
        {{/koulutukset}}
    </ul>
    </p>
{{/haut}}
<a href="{{link}}">{{openLink}}</a>
<p>{{noReply}}</p>