
.icon-doc-text:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e801'; } /* '' */
.icon-help:before { content: '\e802'; } /* '' */
.icon-info:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-help-circled:before { content: '\e805'; } /* '' */
.icon-lock:before { content: '\e806'; } /* '' */