<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hakutoiveiden muokkaus / Ändring av ansökningsönskemål / Changing of application option preferences</title>
    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href="css/main.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="css/hakutoiveidenMuokkaus.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="fontello/css/fontello.css" rel="stylesheet" type="text/css" />
</head>
<body ng-controller="HakutoiveidenMuokkausController" class="hakemuseditori hakutoiveidenMuokkaus">
    <header id="siteheader">
        <a href="/" class="logo">
            <img ng-src="img/opintopolku_large-{{lang}}.png">
        </a>
        <div class="center">
            <h1>{{ localization("hakutoiveidenMuokkaus.title") }}</h1>
            <span ng-if="hakemus">
                {{ localization("applicationPreview.applicationId") }}
                {{ hakemus.oid }}
            </span>
        </div>
        <div class="right" ng-class="{invisible: !hakemus}">
            <span class="user">{{user.name}}</span>
            <a class="logout">{{ localization("button.logout") }}</a>
        </div>
    </header>

    <section class="content error" ng-if="error">
        <div class="alert alert-danger">{{ localization("error." + error.errorType) }}</div>
    </section>

    <section class="content hakemus" ng-if="hakemus">
        <notification message="{{localization('hakutoiveidenMuokkaus.infoNotification')}}"></notification>
        <application application="hakemus"></application>
    </section>

    <section class="content loading" ng-if="loading">
        <div class="notification">
            <img src="img/ajax-loader.gif">
            {{ localization("message.loadingData") }}
        </div>
    </section>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="hakemuseditori.js"></script>
    <script src="bundle.js"></script>
</body>
</html>