<!DOCTYPE html>
<html ng-app="listApp">
<head>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href="css/main.css" media="all" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div class="container">
        <div ng-controller="listCtrl">
            <h1>Omat hakemukseni</h1>
            <a href="/Shibboleth.sso/LoginFI" target="_self">Kirjaudu sisään</a>
            <a href="secure/logout" target="_self">Kirjaudu ulos</a>

            <div class="application-list-status" ng-bind="applicationStatusMessage" ng-class="applicationStatusMessageType" ng-cloak ng-show="applicationStatusMessage.length > 0">
            </div>

            <ul id="hakemus-list" ng-cloak>

                <li ng-repeat="application in applications" class="application-list-item" ng-controller="hakemusCtrl">
                    <h2>{{application.haku.name.translations.fi}}</h2>
                    <p ng-repeat="period in application.haku.applicationPeriods">
                      Hakukausi: {{period.start | date:'dd.MM.yyyy HH:mm'}} - {{period.end | date:'dd.MM.yyyy HH:mm'}}</p>
                    </p>
                    <p>Hakemus jätetty: {{application.received | date:'dd.MM.yyyy HH:mm:ss'}}</p>

                    <section class="application-section" save-effects>
                        <header class="application-section-heading">
                            Hakutoiveet
                            <button class="float-right save-btn" ng-disabled="!hasChanged || isSaving || !isValid" ng-click="saveApplication()">Tallenna muutokset</button>
                            <span class="status-message float-right" ng-class="{'ajax-spinner': isSaving, error: saveMessageType=='error'}" ng-bind="saveMessage" ng-class="saveMessageType"></span>
                        </header>

                        <ul class="preference-list" sortable sortable-moved="movePreference">
                            <li class="preference-list-item" ng-repeat="hakutoive in application.hakutoiveet" ng-controller="hakutoiveCtrl" ng-class="{empty: !hasPreference($index)}">
                                <div class="item-content">
                                    <span class="sort-arrow-down" ng-class="{disabled: !canMoveTo($index, $index+1)}"></span>
                                    <span class="sort-arrow-up" ng-class="{disabled: !canMoveTo($index, $index-1)}"></span>
                                    <span class="row-number">{{$index+1}}.</span>
                                </div>

                                <div class="item-content">
                                    <div class="row opetuspiste">
                                        <label><span>Opetuspiste:</span>

                                            <input type="text" placeholder="" ng-change="oppilaitosChanged()"
                                                   ng-model="hakutoive.Opetuspiste"
                                                   typeahead="oppilaitos.name for oppilaitos in findOppilaitokset($viewValue)"
                                                   typeahead-loading="loadingLocations"
                                                   typeahead-on-select="oppilaitosValittu($item, $model, $label)"
                                                   ng-disabled="!isNew"/>

                                        </label>

                                    </div>
                                    <div class="row koulutus">
                                        <label><span>Koulutus:</span>
                                            <input type="text" ng-model="hakutoive.Koulutus" disabled ng-hide="isNew"/>
                                            <select ng-model="valittuKoulutus" ng-options="koulutus.name for koulutus in koulutukset" ng-show="isNew" ng-change="koulutusValittu($index)" ng-disabled="!canSelectKoulutus()"></select>
                                        </label>
                                    </div>
                                </div>

                                <div class="item-content">
                                    <button ng-show="true || hasPreference($index)" class="delete-btn" confirm confirm-text="Poista" confirm-action="removePreference($index)"></button>
                                </div>
                            </li>
                        </ul>
                    </section>
                </li>
            </ul>
        </div>
    </div>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="bundle.js"></script>
</body>
</html>