<div role="presentation" id="appRoot" class="content-column">

  <p ng-if="localization('message.generalNotification') != 'none'">{{ localization('message.generalNotification') }}</p>

  <h1>{{ localization('title.omatHakemukset') }}</h1>

  <div class="application-list-status"
       ng-if="applicationStatusMessage.length > 0"
       ng-class="applicationStatusMessageType" ng-cloak
       role="status">
      <span>
          {{ localization(applicationStatusMessage) }}
      </span>
  </div>


    <p class="application-list_ataru-applications-not-loaded"
       ng-if="!ataruApplicationsFetched && applicationStatusMessage == ''">{{ localization('info.ataruApplicationsNotFetched') }}</p>

  <ul id="hakemus-list" aria-label="{{ localization('title.omatHakemukset') }}" ng-cloak>
      <li ng-repeat="application in applications" class="application" data-oid="{{application.oid}}">
          <application application="application"></application>
      </li>
  </ul>
</div>