<div role="presentation" id="appRoot" class="content-column">
    <h1>{{ localization('title.omatHakemukset') }}</h1>

    <div class="application-list-status"
         ng-if="applicationStatusMessage.length > 0"
         ng-class="applicationStatusMessageType" ng-cloak
         role="status">
        <span>
            {{ localization(applicationStatusMessage) }}
        </span>
    </div>

    <ul id="hakemus-list" aria-label="{{ localization('title.omatHakemukset') }}" ng-cloak>
        <li ng-repeat="application in applications" class="application-list-item" data-oid="{{application.oid}}">
            <application application="application"></application>
        </li>
    </ul>
</div>