<form name="form" novalidate>
    <h2>{{application.haku.name }}</h2>

    <div class="timestamp-row">
        <i aria-hidden="true" class="icon-doc-text"></i>
        <a class="preview" ng-href="/omatsivut/secure/applications/preview/{{application.oid}}" ng-class="{disabled: hasChanged || statusMessageType=='pending' || isValidating}" target="_blank">{{ localization('button.showApplication') }}</a>
        <span class="timestamp" ng-if="application.isPeriodActive()" ng-class="{disabled: hasChanged || statusMessageType=='pending' || isValidating}">
            ({{ timestampLabel() }} <time datetime="{{ application.updated | date:'yyyy-MM-ddTHH:mmZ' }}">{{ formatTimestamp(application.updated) }}</time>)
        </span>
        <div callout="attachments">
            <localized-link key="message.rememberSendAttachments" href="{{ '/omatsivut/secure/applications/preview/' + application.oid + '#liitteet'}}" target="_blank"></localized-link>
        </div>
    </div>

    <div ng-if="application.isPeriodActive()" role="presentation">
        <p class="application-status">
            <span class="italic">
                {{ localization('label.applicationPeriodEnds') }} <time datetime="{{ application.haku.applicationPeriods[0].end | date:'yyyy-MM-ddTHH:mmZ' }}">{{ formatApplicationPeriod(application.haku.applicationPeriods[0].end) }}</time>
            </span>
        </p>

        <p class="application-state-message" ng-if="application.state.id == 'POSTPROCESSING' || application.state.id == 'SUBMITTED'">
            {{ localization("message.applicationIsInPostProcessing") }}
        </p>
    </div>

    <div ng-if="!application.isPeriodActive()" role="presentation">
        <p class="application-status" ng-if="!application.allResultsAvailable() && application.vastaanotettavatHakutoiveet().length == 0">
            <span class="italic">
                {{ localization('label.applicationPeriodEnded') }}
                <span ng-if="application.haku.results.julkistus">
                    {{ localization('label.resultsPublishedDate') }} {{ formatDate(application.haku.results.julkistus.end) }}.
                </span>
            </span>
        </p>

        <hakutoiveen-vastaanotto application-oid="application.oid" haku="application.haku" hakutoiveet="application.vastaanotettavatHakutoiveet()" callback="hakutoiveVastaanotettu">
        </hakutoiveen-vastaanotto>
    </div>

    <section class="application-section application-valintatulos" ng-if="application.hasSomeResults()">
        <valintatulos data="application.state.valintatulos" final="application.allResultsAvailable()"></valintatulos>
    </section>

    <section class="application-section" ng-if="application.state.id == 'ACTIVE' || application.state.id == 'INCOMPLETE'">
        <header class="application-section-heading">
            {{ localization('label.preferences') }}
            <button class="float-right save-btn" ng-disabled="!hasChanged || statusMessageType=='pending' || !isSaveable || isValidating" ng-click="saveApplication()">{{ localization('button.save') }}</button>
            <span role="status" class="status-message float-right" ng-class="{'ajax-spinner': statusMessageType=='pending', error: statusMessageType=='error'}" ng-bind="statusMessage"></span>
        </header>

        <hakutoiveet application="application" preference-moved="preferenceMoved">
        </hakutoiveet>
    </section>

    <section class="application-section additional-questions" ng-if="application.additionalQuestions.questionNodes.length > 0">
        <question question-node="application.additionalQuestions" application="application" class="questions" level="-1">
        </question>
    </section>

    <section class="application-section">
        <header class="application-section-heading">
            {{ localization('label.contactDetails') }}
        </header>

        <henkilotiedot data="application.henkilotiedot">
        </henkilotiedot>
    </section>
</form>