<div role="presentation" id="appRoot" class="content-column">
    <h1>{{ localization('title.omatHakemukset') }}</h1>

    <div class="application-list-status"
         ng-if="applicationStatusMessage.length > 0"
         ng-class="applicationStatusMessageType" ng-cloak
         role="status">
        <span>
            {{ localization(applicationStatusMessage) }}
        </span>
    </div>

    <ul id="hakemus-list" aria-label="{{ localization('title.omatHakemukset') }}" ng-cloak>
        <li ng-repeat="application in applications" class="application-list-item" ng-controller="hakemusController" data-oid="{{application.oid}}" highlight-save>
            <h2>{{application.haku.name }}</h2>

            <div class="timestamp-row">
                <i aria-hidden="true" class="icon-doc-text"></i>
                <a class="preview" ng-href="/omatsivut/api/applications/preview/{{application.oid}}" ng-class="{disabled: hasChanged || statusMessageType=='pending' || isValidating}" target="_blank">{{ localization('button.showApplication') }}</a>
                    <span class="timestamp" ng-if="application.isPeriodActive()" ng-class="{disabled: hasChanged || statusMessageType=='pending' || isValidating}">
                        ({{ timestampLabel() }} <time datetime="{{ application.updated | date:'yyyy-MM-ddTHH:mmZ' }}">{{ formatTimestamp(application.updated) }}</time>)
                    </span>
                <div callout="attachments">
                    <localized-link key="message.rememberSendAttachments" href="{{ '/omatsivut/api/applications/preview/' + application.oid + '#liitteet'}}" target="_blank"></localized-link>
                </div>
            </div>

            <div ng-if="application.isPeriodActive()" role="presentation">
                <p class="application-status">
                    <span class="label-info">
                        {{ localization('label.applicationPeriodEnds') }} <time datetime="{{ application.haku.applicationPeriods[0].end | date:'yyyy-MM-ddTHH:mmZ' }}">{{ formatApplicationPeriod(application.haku.applicationPeriods[0].end) }}</time>
                    </span>
                </p>
            </div>

            <div ng-if="!application.isPeriodActive()" role="presentation">
                <p class="application-status" ng-if="!application.allResultsAvailable() && application.vastaanotettavatHakutoiveet().length == 0">
                    <span class="badge label-info">
                        {{ localization('label.applicationPeriodEnded') }}
                        <span ng-if="application.haku.results.julkistus">
                            {{ localization('label.resultsPublishedDate') }} {{ formatDate(application.haku.results.julkistus.end) }}.
                        </span>
                    </span>
                </p>
                <p class="application-status"  ng-if="resultStatus" ng-bind="resultStatus"></p>
                <hakutoiveen-vastaanotto application-oid="application.oid" haku="application.haku" hakutoiveet="application.vastaanotettavatHakutoiveet()" update-application="updateApplicationAfterPost">
                </hakutoiveen-vastaanotto>
            </div>

            <div role="presentation">
                <p class="application-state-message" ng-if="application.state.id == 'POSTPROCESSING' || application.state.id == 'SUBMITTED'">
                    {{ localization("message.applicationIsInPostProcessing") }}
                </p>
                <div class="application-state-message" ng-if="resultState" ng-bind="resultState"></div>
            </div>

            <valintatulos data="application.state.valintatulos"></valintatulos>

            <section class="application-section" ng-if="application.state.id == 'ACTIVE' || application.state.id == 'INCOMPLETE'">
                <header class="application-section-heading">
                    {{ localization('label.preferences') }}
                    <button class="float-right save-btn" ng-disabled="!hasChanged || statusMessageType=='pending' || !isSaveable || isValidating" ng-click="saveApplication()">{{ localization('button.save') }}</button>
                    <span role="status" class="status-message float-right" ng-class="{'ajax-spinner': statusMessageType=='pending', error: statusMessageType=='error'}" ng-bind="statusMessage"></span>
                </header>

                <div class="preference-list" ng-class="{validating: isValidating}" sortable sortable-item=".preference-list-item" sortable-moved="movePreference">
                    <div class="overlay"></div>
                    <div class="preference-list-item" aria-label="{{ ($index+1) + '. ' + hakutoive.data.Opetuspiste + ' - ' + hakutoive.data.Koulutus }}" ng-repeat="hakutoive in application.hakutoiveet" ng-controller="hakutoiveController" ng-class="{'inactive': isEditingDisabled() && hakutoive.isNew}">
                        <div class="item-content">
                            <button class="sort-arrow-up" aria-label="{{ localization('button.sortUp_ariaLabel') }}" ng-disabled="!application.canMoveTo($index, $index-1)" disable-click-focus></button>
                            <button class="sort-arrow-down" aria-label="{{ localization('button.sortDown_ariaLabel') }}" ng-disabled="!application.canMoveTo($index, $index+1)" disable-click-focus></button>
                            <span class="row-number">{{$index+1}}.</span>
                        </div>

                        <div class="item-content">
                            <div class="row opetuspiste">
                                <label>
                                    <div class="label-column">{{localization('label.location' + (application.haku.korkeakouluhaku ? '_university' : ''))}}:</div>

                                    <div class="value-column">
                                        <span ng-bind="hakutoive.data.Opetuspiste" ng-show="isEditingDisabled()"></span>

                                        <input type="text" placeholder="" ng-change="opetuspisteModified()"
                                               ng-model="hakutoive.data.Opetuspiste"
                                               typeahead="opetuspiste.name for opetuspiste in findOpetuspiste($viewValue)"
                                               typeahead-loading="loadingLocations"
                                               typeahead-on-select="opetuspisteValittu($item, $model, $label)"
                                               ng-show="!isEditingDisabled()"/>
                                    </div>
                                </label>
                            </div>
                            <div class="row koulutus">
                                <label>
                                    <div class="label-column">{{ localization('label.education' + (application.haku.korkeakouluhaku ? '_university' : '')) }}:</div>

                                    <div class="value-column">
                                        <span ng-bind="hakutoive.data.Koulutus" ng-show="isEditingDisabled()"></span>

                                        <select ng-model="valittuKoulutus"
                                                ng-options="koulutus.name for koulutus in koulutusList"
                                                ng-change="koulutusValittu($index)" ng-show="isKoulutusSelectable()">
                                        </select>
                                        <span class="instruction" ng-hide="isEditingDisabled() || hakutoive.hasOpetuspiste()">{{localization('label.chooseLocation')}}</span>
                                        <span class="validation-message error" ng-if="hakutoive.errors.length">{{hakutoive.errors.join(', ')}}</span>
                                        <span class="instruction ajax-spinner-small" ng-show="isLoadingKoulutusList()">{{ localization("message.loadingData") }}</span>
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="item-content">
                            <button ng-show="canRemovePreference($index)" class="delete-btn" disable-click-focus confirm confirm-text="{{localization('button.delete_confirm')}}" confirm-action="removeHakutoive($index)" aria-label="{{ localization('button.delete_ariaLabel') }}"></button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="application-section additional-questions" ng-if="application.additionalQuestions.questionNodes.length > 0">
                <question question-node="application.additionalQuestions" application="application" class="questions" level="-1">
                </question>
            </section>
        </li>
    </ul>
</div>