<div role="presentation">
    <section class="application-header">
        <h2>{{application.haku.name }}</h2>

        <application-periods haku="application.haku"></application-periods>

        <div class="timestamp-row">
            <i aria-hidden="true" class="icon-doc-text"></i>
            <a class="preview" ng-href="/omatsivut/secure/applications/preview/{{application.oid}}" ng-class="{disabled: applicationForm.$dirty|| statusMessageType=='pending' || isValidating}" target="_blank">{{ localization('button.showApplication') }}</a>
            <span class="timestamp" ng-class="{disabled: form.$dirty || statusMessageType=='pending' || isValidating}">
                {{ timestampLabel() }} <time formatted-time="application.updated" format="LLL" />
            </span>
            <div callout="attachments">
                <localized-link key="message.rememberSendAttachments" href="{{ '/omatsivut/secure/applications/preview/' + application.oid + '#liitteet'}}" target="_blank"></localized-link>
            </div>
        </div>
    </section>

    <section class="application-status" role="presentation">
        <div ng-if="!application.haku.active && application.state.id != 'HAKUKIERROSPAATTYNYT' && !application.allResultsAvailable() && application.vastaanotettavatHakutoiveet().length == 0">
            {{ localization('label.applicationPeriodEnded') }}
            <span ng-if="application.haku.aikataulu.julkistus">
                {{ localization('label.resultsPublishedDate') }} <time formatted-time="application.haku.aikataulu.julkistus.end" format="LL" />.
            </span>
        </div>

        <div ng-if="application.state.id == 'HAKUKIERROSPAATTYNYT'">
            {{ localization('label.applicationRoundEnded') }}
        </div>

        <div ng-if="application.haku.active && (application.state.id == 'POSTPROCESSING' || application.state.id == 'SUBMITTED')">
            {{ localization("message.applicationIsInPostProcessing") }}
        </div>
    </section>

    <hakutoiveen-vastaanotto application-oid="application.oid" haku="application.haku" hakutoiveet="application.vastaanotettavatHakutoiveet()" callback="hakutoiveVastaanotettu">
    </hakutoiveen-vastaanotto>

    <form name="applicationForm" novalidate >

        <section class="application-section application-valintatulos" ng-if="application.hasSomeResults()">
            <valintatulos data="application.state.valintatulos" final="application.allResultsAvailable()"></valintatulos>
        </section>

        <section class="application-section hakutoiveet" ng-if="application.editHakutoiveetEnabled()">
            <header class="application-section-heading">
                {{ localization('label.preferences') }}
                <button class="float-right save-btn" ng-hide="application.applicationPeriodsInactive()" ng-disabled="shouldSaveButtonBeDisabled()" ng-click="saveApplication()">{{ localization('button.save') }}</button>
                <span role="status" class="status-message float-right" ng-class="statusMessageStyleModifier()" ng-bind="statusMessage"></span>
            </header>

              <hakutoiveet application="application" preference-moved="preferenceMoved">
              </hakutoiveet>
          </section>

        <section class="application-section additional-questions" ng-if="application.editHakutoiveetEnabled() && application.additionalQuestions.questionNodes.length > 0">
            <question question-node="application.additionalQuestions" application="application" class="questions" level="-1">
            </question>
        </section>

        <section class="application-section henkilotiedot" ng-if="application.editHenkilotiedotEnabled()">
            <header class="application-section-heading">
                {{ localization('label.contactDetails') }}
                <button ng-if="!(application.editHakutoiveetEnabled() && !application.applicationPeriodsInactive())" class="float-right save-btn" ng-disabled="shouldSaveButtonBeDisabled()" ng-click="saveApplication()">{{ localization('button.save') }}</button>
                <span ng-if="!(application.editHakutoiveetEnabled() && !application.applicationPeriodsInactive())" role="status" class="status-message float-right" ng-class="statusMessageStyleModifier()" ng-bind="statusMessage"></span>
            </header>

            <henkilotiedot application="application">
            </henkilotiedot>
        </section>
    </form>
</div>