<div class="yhteystiedot">
    <label>
        <div class="label-column">Sähköposti:</div>
        <div class="value-column"><input type="text" ng-model="yhteystiedot['Sähköposti']" /></div>
    </label>

    <label>
        <div class="label-column">Matkapuhelinnumero:</div>
        <div class="value-column"> <input type="text" ng-model="yhteystiedot.matkapuhelinnumero1" /></div>
    </label>

    <label>
        <div class="label-column">Lähiosoite:</div>
        <div class="value-column"> <input type="text" ng-model="yhteystiedot.lahiosoite" /></div>
    </label>
    <label>
        <div class="label-column">Postinumero:</div>
        <div class="value-column"> <input type="text" ng-model="yhteystiedot.Postinumero" /></div>
    </label>
    <label>
        <div class="label-column">Postitoimipakka:</div>
        <div class="value-column"> N/A</div>
    </label>
    <label>
        <div class="label-column">Kotikunta:</div>
        <div class="value-column"> <input type="text" ng-model="yhteystiedot.kotikunta" /></div>
    </label>
</div>
