<div class="yhteystiedot">
    <label>
        <div class="label-column">Sähköposti:</div>
        <div class="value-column"><input type="text" ng-model="yhteystiedot['Sähköposti']" clearable-input /></div>
    </label>

    <label>
        <div class="label-column">Matkapuhelinnumero:</div>
        <div class="value-column"> <input type="text" ng-model="yhteystiedot['matkapuhelinnumero1']" clearable-input /></div>
    </label>

    <label>
        <div class="label-column">Lähiosoite:</div>
        <div class="value-column"> <input type="text" ng-model="yhteystiedot['lahiosoite']" clearable-input /></div>
    </label>
    <label>
        <div class="label-column">Postinumero:</div>
        <div class="value-column"> <input type="text" ng-model="yhteystiedot['Postinumero']" clearable-input /></div>
    </label>
</div>
