<table class="result-list">
    <thead>
        <th>{{ status }}</th>
        <th></th>
    </thead>
    <tbody>
    <tr ng-repeat="tulos in valintatulos().hakutoiveet">
        <td>
            <span class="row-number">{{$index+1}}.</span>
            <span ng-bind="tulos.opetuspiste.name"></span> -
            <span ng-bind="tulos.koulutus.name"></span>
        </td>
        <td ng-class="valintatulosColor(tulos)">
            <span ng-bind="valintatulosText(tulos)"></span>
        </td>
    </tr>
</table>

